.Code {
    border: 1px solid var(--accent-redesigned);
    padding: 20px;
    position: relative;
    background: var(--dark-bg-redesigned);
    overflow: auto;
}

.copyBtn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.copyIcon path {
    stroke: var(--accent-redesigned);
}