.ArticleDetails {
    min-height: 100%;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.icon {
    margin-right: 8px;
}

.block {
    margin-top: 16px;
}

.newIcons {
    fill: var(--light-bg-redesigned);
    color: var(--accent-redesigned)
}

.img {
    width: 100%;
    max-height: 420px;
    object-fit: contain;
}