.InputWrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.placeholder {
    margin-right: 5px;
}

.input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    padding: 10px;
}

.caretWrapper {
    flex-grow: 1;
    position: relative;
}



.readonly {
    opacity: 0.7;
}