  .BIG {

    .img {
      width: 100%;
      height: 420px;
      object-fit: cover;
      margin: 16px 0;
    }

    .views {
      margin-left: auto;
      margin-right: 8px;
    }

    .header {
      display: flex;
      align-items: center;
    }

    .username {
      margin-left: 8px;
    }

    .date {
      margin-left: auto;
    }

    .title {
      margin-top: 8px;
    }



    .footer {
      display: flex;
      align-items: center;
      margin-top: 16px;
    }

    .textBlock {
      max-height: 200px;
      overflow-y: hidden;
    }
  }

  .SMALL {
    width: 230px;
    transition: 0.2s;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      opacity: 0.8;
      transform: scale(1.01);

      .date {
        display: block;
      }
    }



    .imageWrapper {
      width: 230px;
      height: 200px;
      position: relative;
    }

    .img {
      width: 230px;
      height: 200px;
      object-fit: cover;
      border-radius: 35px 35px 0 0;
    }

    .infoWrapper {
      display: flex;
      align-items: center;
      margin-top: 8px;
    }

    .types p {
      width: 115px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .views {
      margin-left: auto;
      margin-right: 8px;
    }

    .title {
      margin-top: 8px;
    }

    .title p {
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }


  }

  .avatar {
    margin-left: 8px;
  }

  .padding {
    padding: 8px;
  }