.MainLayouts {
  min-height: 100vh;
  min-width: 100%;
  display: grid;
  grid-template-areas: 'sidebar content rightbar';
  grid-template-columns: min-content 1fr 180px;
  padding: 20px;
}

.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  max-width: 220px;
}

.Content {
  grid-area: content;
  max-width: 1200px;
  justify-self: center;
  padding: 0px 16px;
  width: 100%;
}

.rightbar {
  grid-area: rightbar;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Header {
  justify-self: end;
}

.Toolbar {
  justify-self: end;

}