.Icon {
    color: var(--icon-redesigned);
    fill: var(--icon-redesigned);
}

.button {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--accent-redesigned)
}

.button:hover .Icon {
    color: var(--accent-redesigned)
}