.ArticleViewSelectorRedesigned {
    display: flex;
    align-items: center;
    justify-content: center;

    .notSelected {
        fill: var(--hint-redesigned);
    }
}

.ArticleViewSelector {
    .notSelected {
        fill: var(--secondary-color);
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}