.padding_24 {
    padding: 24px;
}

.padding_0 {
    padding: 0px;
}

.padding_8 {
    padding: 8px;
}

.padding_16 {
    padding: 16px;
}

.border_none {
    border-radius: 0;
}

.border_round {
    border-radius: 50%;
}

.border_semi {
    border-radius: 30px;
}

.normal {
    background: var(--dark-bg-redesigned);
}

.outline {
    border: 1px solid var(--accent-redesigned);
}

.light {
    background: var(--light-bg-redesigned);

}

.max {
    width: 100%;
}