.relative {
    position: relative;
}

.optionsBottomRight {
    top: 100%;
    right: 0;
}

.optionsBottomLeft {
    top: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsTopLeft {
    right: 0;
    bottom: 100%;
}

.trigger {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.active {
    background: var(--light-bg-redesigned);
}

.panel {
    background: var(--dark-bg-redesigned);
    position: absolute;
    z-index: 10000;
    border-radius: 8px;
    width: fit-content;
    padding: 1rem;
}