.star {
    transition: 0.4s linear;
    cursor: pointer;
}

.StarRating .hovered {
    color: var(--primary-color);
}

.StarRatingRedesigned .hovered {

    color: var(--icon-redesigned);

}

.normal {
    fill: none
}

.selected {
    cursor: auto;
}